
@{
    ViewData["Title"] = "Recycle";
}

<body class="plr20">
    <div id="productlist">
        <!-- 标题和地址 -->
        <el-row>
            <el-col :span="24" class="breadcrumb-container">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item><strong>产品管理</strong></el-breadcrumb-item>
                    <el-breadcrumb-item>回收站</el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
        </el-row>
        <article class="administration-tenant-container">
            <el-tabs v-model="activeName" type="card">
                <el-tab-pane label="产品回收站" name="first">
                    <!--搜索-->
                    <el-col :span="24" class="toolbar">
                        <el-form :inline="true" size="small" :model="filters">
                            <el-form-item>
                                <el-input placeholder="搜索" v-model="filters.searchKey"
                                          v-on:keyup.enter.native="getProductList()" clearable></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button v-on:click="search" icon="el-icon-search">搜索</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-table class="data-table" size="small" v-loading="listLoading" :data="productList" :fit="true" border>
                        <el-table-column min-width="50" prop="id" label="ID">
                            <template slot-scope="scope">
                                <i>{{scope.row.id}}</i>
                            </template>
                        </el-table-column>
                        <el-table-column min-width="200" prop="fullEName" label="产品名">
                        </el-table-column>
                        <el-table-column width="120" label="图片" align="center">
                            <template slot-scope="scope1">
                                <img v-if="scope1.row.primaryImageSrcFull" class="pimg" alt="no image" :src="scope1.row.primaryImageSrcFull" height="50">
                            </template>
                        </el-table-column>
                        <el-table-column prop="status" label="状态" width="130">
                            <template slot-scope="scope">
                                <el-tag size="small" v-if="scope.row.status == 0">录入中</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 1" type="info">待审核</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 2" type="danger">审核不通过</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 3" type="success">正常</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 7" type="info">冻结</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 8" type="info">淘汰</el-tag>
                                @*<el-tag v-if="scope.row.status == 9" type="info">异常</el-tag>*@
                            </template>
                        </el-table-column>
                        <el-table-column min-width="80" prop="Category.eName" label="分类">
                        </el-table-column>
                        <el-table-column min-width="80" prop="factoryModel" label="工厂型号">
                        </el-table-column>
                        <el-table-column width="150" prop="lastModificationTimeString" label="上次修改时间">
                        </el-table-column>
                        <el-table-column min-width="60" prop="createUser" label="创建人">
                        </el-table-column>
                    </el-table>
                    <el-col :span="24" class="toolbar">
                        <el-pagination v-on:size-change="handleSizeChange" v-on:current-change="handleCurrentChange" :current-page="page" :page-sizes="[10,20,30,40,50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" style="float:right;">
                        </el-pagination>
                    </el-col>
                </el-tab-pane>
                <el-tab-pane label="Sku回收站" name="second">
                    <el-col :span="24" class="toolbar">
                        <el-form :inline="true" size="small" :model="filtersSku">
                            <el-form-item>
                                <el-input placeholder="搜索" v-model="filtersSku.searchKey"
                                          v-on:keyup.enter.native="getSkuList()" clearable></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button v-on:click="searchSku" icon="el-icon-search">搜索</el-button>
                            </el-form-item>
                        </el-form>
                    </el-col>
                    <el-table class="data-table" size="small" v-loading="listLoading" :data="skuList" :fit="true" border>
                        <el-table-column min-width="50" prop="id" label="ID">
                            <template slot-scope="scope">
                                <i>{{scope.row.id}}</i>
                            </template>
                        </el-table-column>
                        <el-table-column min-width="200" prop="fullEName" label="产品名">
                        </el-table-column>
                        <el-table-column width="120" label="图片" align="center">
                            <template slot-scope="scope1">
                                <img v-if="scope1.row.primaryImageSrcFull" class="pimg" alt="no image" :src="scope1.row.primaryImageSrcFull" height="50">
                            </template>
                        </el-table-column>
                        <el-table-column prop="status" label="状态" width="130">
                            <template slot-scope="scope">
                                <el-tag size="small" v-if="scope.row.status == 0">录入中</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 1" type="info">待审核</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 2" type="danger">审核不通过</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 3" type="success">正常</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 7" type="info">冻结</el-tag>
                                <el-tag size="small" v-if="scope.row.status == 8" type="info">淘汰</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column min-width="80" prop="Category.eName" label="分类">
                        </el-table-column>
                        <el-table-column min-width="80" prop="factoryModel" label="工厂型号">
                        </el-table-column>
                        <el-table-column width="150" prop="LastModificationTimeString" label="上次修改时间">
                        </el-table-column>
                        <el-table-column min-width="60" prop="createUser" label="创建人">
                        </el-table-column>
                    </el-table>
                    <el-col :span="24" class="toolbar">
                        <el-pagination v-on:size-change="handleSizeChangeSku" v-on:current-change="handleCurrentChangeSku" :current-page="pageSku" :page-sizes="[10,20,30,40,50]" :page-size="pageSizeSku" layout="total, sizes, prev, pager, next, jumper" :total="totalSku" style="float:right;">
                        </el-pagination>
                    </el-col>
                </el-tab-pane>
            </el-tabs>

        </article>
    </div>
    <script>
        var Main = {
            data() {
                return {
                    activeName: 'first',
                    listLoading: false,
                    productList: [],
                    skuList: [],
                    filters: {
                        searchKey: "",
                        isChanged: 0
                    },
                    filtersSku: {
                        searchKey: "",
                        isChanged: 0
                    },
                    total: 30,
                    page: 1,
                    pageSize: 10,
                    totalSku: 30,
                    pageSku: 1,
                    pageSizeSku: 10,
                    listLoading: false,
                }
            },
            created() {
                this.getProductList();
                this.getSkuList();
            },
            methods: {
                // 改变每页显示几条数据
                handleSizeChange(val) {
                    this.pageSize = val;
                    this.getProductList();
                },
                //【点击第几页】
                handleCurrentChange(val) {
                    this.page = val;
                    this.getProductList();
                },
                getProductList() {
                    this.listLoading = true;
                    var _self = this;
                     var categoryID = 0;
                    $.ajax({
                        type: 'GET',
                        url: '/rest/product/recycle',
                        data: { key: _self.filters.searchKey, categoryId: categoryID, pageSize: _self.pageSize, currentPage: _self.page },
                        success: function (data) {
                            if (data.success == true) {
                                _self.total = data.page.totalCount;
                                _self.productList = data.data;
                                _self.listLoading = false;
                            } else {
                                _self.$notify.error({
                                    title: '错误',
                                    message: data.msg
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (errorThrown == "Unauthorized") {
                                window.parent.MainIndex.openLoginFrom();
                                _self.$message({
                                    type: 'error',
                                    message: XMLHttpRequest.responseJSON.msg
                                });
                            } else {
                                _self.$message({
                                    type: 'error',
                                    message: errorThrown
                                });
                            }
                        }
                    });
                },
                search() {
                    this.getProductList();
                },
                handleSizeChangeSku(val) {
                    this.pageSizeSku = val;
                    this.getSkuList();
                },
                //【点击第几页】
                handleCurrentChangeSku(val) {
                    this.pageSku = val;
                    this.getSkuList();
                },
                getSkuList() {
                    this.listLoading = true;
                    var _self = this;
                    var categoryID = 0;
                    $.ajax({
                        type: 'GET',
                        url: '/rest/sku/recycle',
                        data: { key: _self.filters.searchKey, categoryId: categoryID, pageSize: _self.pageSize, currentPage: _self.page },
                        success: function (data) {
                            if (data.success == true) {
                                _self.totalSku = data.page.totalCount;
                                _self.skuList = data.data;
                                _self.listLoading = false;
                            } else {
                                _self.$notify.error({
                                    title: '错误',
                                    message: data.msg
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (errorThrown == "Unauthorized") {
                                window.parent.MainIndex.openLoginFrom();
                                _self.$message({
                                    type: 'error',
                                    message: XMLHttpRequest.responseJSON.msg
                                });
                            } else {
                                _self.$message({
                                    type: 'error',
                                    message: errorThrown
                                });
                            }
                        }
                    });
                },
                searchSku() {
                    this.getSkuList();
                }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#productlist')
    </script>

</body>
