/*================================*/
/*========== ²Ëµ¥¹ÜÀí ============*/
/*================================*/
/*ÓÒ²àÐÂÔö ±à¼­³éÌë*/
.menu-drawer .el-drawer__header {
    padding: 20px 30px;
    border-bottom: solid 1px #ccc;
}
.menu-drawer__content {
    padding: 0 30px;
}
/*Õû¿écard*/
.el-card__body {
    height: 100%;
}
/*×ó²à²Ëµ¥Ê÷*/
.menu-tree {
    height: calc(100% - 60px);
}
    .menu-tree > .el-tree-node{
        height:100%;
    }
    .menu-tree > .el-tree-node > .el-tree-node__children {
        height: calc(100% - 60px);
        overflow-y: auto;
    }
.menu-tree .iconfont {
    color: #409EFF;
}
.menu-tree > .el-tree-node > .el-tree-node__content, .menu-tree>.el-tree-node.is-current > .el-tree-node__content {
    height:30px;
    padding-left:40px!important;
    background-color: #409EFF;
    color:#fff;
    border-radius:5px;
}
    .menu-tree > .el-tree-node > .el-tree-node__content .el-tree-node__expand-icon {
        display:none;
        color: #fff;
    }
    .menu-tree > .el-tree-node > .el-tree-node__content .iconfont {
        display: none;
    }
    .menu-tree .el-tree-node__content {
        position: relative;
        /*width: 100%;*/
        font-size: 14px;
        padding: 5px 0;
        margin-bottom:5px;
    }
.menu-tree .el-icon-refresh{
    position:absolute;
    right:10px;
    top:12px;
    font-size:16px;
}
.menu-tree .el-tree-node.is-current {
    /*background-color: #409EFF;*/
}

.collapse--simple {
    border-top: none;
    border-bottom: none;
    height: calc(100% - 115px);
    overflow-y: auto;
}

/*Í¼±êÑ¡Ôñ¿ò*/
.icon-select ul li{
    line-height:34px;
}
    .icon-select ul li i{
    font-size:18px;
}