@{
    ViewData["Title"] = "Packing Slips";
}
<style>
    .mg5 {
        margin: 5px;
    }

    .mg15 {
        margin: 15px;
    }
    .mt10 {
        margin-top: 10px;
    }
    .mt20 {
        margin-top: 20px;
    }
    .mt30 {
        margin-top: 30px;
    }

    .mgr10 {
        margin-right: 10px;
    }
    .mgr100 {
        margin-right: 100px;
    }

    .wd1350 {
        width: 1350px;
    }
    .wd800 {
        width: 800px;
    }

    .wd400 {
        width: 400px;
    }

    .wd300 {
        width: 300px;
    }

    .wd200 {
        width: 200px;
    }

    .wd150 {
        width: 150px;
    }

    .wd120 {
        width: 120px;
    }

    .wd100 {
        width: 100px;
    }

    .c01 {
        background-color: #000000;
    }

    .fwb {
        font-weight: bold;
    }

    .fl {
        float: left;
    }

    .tar {
        text-align: right;
    }
    .tac {
        text-align: center;
    }

    .noprint {
        visibility: hidden
    }
    .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 20px;
        height: 40px;
        border-bottom: 2px solid #303133;
        margin-bottom: 5px;
    }
</style>
<div id="userlist" class="p15 bac01 h100b bsb">
    <el-card class="el-card--plr">
        @*<el-row class="toolbar toolbar--top">
                <el-col :span="6">
                   <el-breadcrumb separator="/">
                        <el-breadcrumb-item><strong>订单管理</strong></el-breadcrumb-item>
                        <el-breadcrumb-item>ShipStation订单详情</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>
            </el-row>*@

        <template>
            <div id="printout">
                <h1 class="title">Packing Slip </h1>
               
                <div class="fwb mt10 wd800">{{ orderInfo.billTo.company  }}</div>
                <div class="mt30 wd800" style="clear:right">
                    <div style="float:left;">
                        <div style="float:left;" class="fwb mgr10">Ship To: </div>
                        <div style="float:left;">
                            <div>{{ orderInfo.shipTo.name  }}</div>
                            <div style="width:320px;word-break:break-all;">{{ orderInfo.shipTo.company  }}</div>
                            <div style="width:320px;word-break:break-all;">{{ orderInfo.shipTo.street1  }}</div>
                            <div style="width:320px;word-break:break-all;">{{ orderInfo.shipTo.street2  }}</div>
                            <div style="width:320px;word-break:break-all;">{{ orderInfo.shipTo.street3  }}</div>
                            <div>{{ orderInfo.shipTo.city  }}, {{ orderInfo.shipTo.state  }} {{ orderInfo.shipTo.postalCode  }} {{ orderInfo.shipTo.country  }}</div>
                        </div>
                    </div>
                    <div style="float:left;clear:right">
                        <div><div class="fwb wd120 fl tar mgr10">Order # </div>{{ orderInfo.orderNumber}}</div>
                        <div style="width:320px;"><div class="fwb wd120 fl tar mgr10">Date </div>{{ orderInfo.orderDateString2}}</div>
                        <div><div class="fwb wd120 fl tar mgr10">User </div>{{ orderInfo.customerUsername}}</div>

                        <div><div class="fwb wd120 fl tar mgr10">Ship Date </div></div>
                    </div>
                </div>
                <div style="clear:left;padding-top:20px;" class="">
                    <el-table :data="orderInfo.items" style="width: 800px;">
                        <el-table-column prop="sku" label="Item" width="120"></el-table-column>
                        <el-table-column prop="name" label="Description" min-width="250"></el-table-column>
                        <el-table-column prop="unitPrice" label="Price" width="120">
                            <template slot-scope="scope">
                                ${{scope.row.unitPrice | capitalize}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="qty" label="Qty" width="150"></el-table-column>
                        <el-table-column prop="extPrice" label="Ext Price" width="120">
                            <template slot-scope="scope">
                                ${{scope.row.extPrice | capitalize}}
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div style="width:750px;" class="mt10">
                    <div style="text-align:right"><div class="fwb tar fl" style="width:600px;">Sub Toal: </div>${{ orderInfo.subTotal | capitalize}}</div>
                    <div style="text-align:right"><div class="fwb tar fl" style="width:600px;">Tax: </div>${{ orderInfo.taxAmount | capitalize}}</div>
                    <div style="text-align:right"><div class="fwb tar fl" style="width:600px;">Shipping: </div>${{ orderInfo.shippingAmount | capitalize}}</div>
                    <div style="text-align:right"><div class="fwb tar fl" style="width:600px;">Toal: </div>${{ orderInfo.amountPaid | capitalize}}</div>
                </div>
            </div>
            <div style="text-align:left;margin-bottom:20px;margin-top:20px">
                <el-button size="mini" type="primary" v-on:click="printDiv" class="">打印</el-button>
            </div>

        </template>
    </el-card>
</div>
<script src="/js/canvg.js"></script>
<script src="/js/html2canvas.js"></script>
<script src="/js/jspdf.debug.js"></script>
<script>
    var main = {
        data() {
            return {
                activeName: "first",
                orderInfo: {
                    billTo: {},
                    shipTo: {}
                },
                orderLoading: false,

                height_table: 650,//表格高度
                // 分页
                total: 0,
                currentPage: 1,
                pageSize: 10,
                itemListLoading: false,//表格loading
                selectList: [],


            }
        },
        filters: {
          capitalize: function (x) {
              var f = parseFloat(x); 
             if (isNaN(f)) { 
                return false; 
             } 
             var f = Math.round(x*100)/100; 
             var s = f.toString(); 
             var rs = s.indexOf('.'); 
             if (rs < 0) { 
                 rs = s.length; 
                 s += '.'; 
             } 
             while (s.length <= rs + 2) { 
                s += '0'; 
             } 
             return s; 
          }
        },
        methods: {
            getOrderDetail() {
                var _self = this;
                //_self.itemListLoading = true;
                var filter = {};
                filter.id =@ViewBag.orderId;

                $.ajax({
                    type: 'GET',
                    //dataType: 'json',
                    //contentType: 'application/json',
                    url: '/rest/ssorder/detail/get?orderId=@ViewBag.orderId',
                    //data: JSON.stringify(filter),
                    success: function (data) {
                        _self.orderInfo = data.data;
                        //_self.itemListLoading = false;
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        if (XMLHttpRequest.status == 401 || errorThrown == "Unauthorized") {
                            window.parent.Main.openLoginFrom();
                            _self.$message({
                                type: 'error',
                                message: XMLHttpRequest.responseJSON.msg
                            });
                        } else {
                            _self.$message({
                                type: 'error',
                                message: errorThrown
                            });
                        }
                        //_self.itemListLoading = false;
                    }
                });
            }
        },
        created() {
            this.getOrderDetail();
        }
    };
    var Ctor = Vue.extend(main)
    new Ctor().$mount('#userlist')

    function printDiv() {
        //Get the HTML of div
        var divElements = document.getElementById('printout').innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;
        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
            "<html><head><title></title></head><body>" +
            divElements + "</body>";
        //Print Page
        window.print();
        //Restore orignal HTML
        document.body.innerHTML = oldPage;
        location.reload();//重置按钮事件 解决打印按钮 点击后失效问题
    }
  
</script>
