
@{
    ViewBag.Title = "产品详情";
}
<style>
    td {
        border: 1px solid black;
    }

    /*.hovertreeulli ul {
        list-style: none;
        width: 25%;
        border: solid 1px black;
        border-top:none;
            border-left:none;
            border-bottom:none;
        padding: 0px;
        clear:both;
        margin: 0;
        float: left;
    }*/

    /*.hovertreeulli li {
        margin-left: 0px;
        width: 100%;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
        line-height: 48px;
        float: left;
        display: inline;
    }

    a {
        color: blue;
        text-decoration: none
    }*/
</style>


<body class="plr20">
    <div id="wrapper">
        <!-- 标题和地址 -->
        @*<el-row>
                <el-col :span="24" class="breadcrumb-container">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><strong>Sku管理</strong></el-breadcrumb-item>
                        <el-breadcrumb-item>Sku详情</el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>
            </el-row>*@
        <template>
            <article class="administration-maintenance-container" v-loading="loading">
                @*<el-button type="primary" size="mini" v-on:click="printPdfOrExcel">打印</el-button>*@
                <div id="printout" class="mt20 mb20">

                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;font-size:14px;table-layout:fixed;width:904pt;border:1px;text-align:center;margin:0 auto">
                        <tr height="100" style="height:45.0pt">
                            <td colspan="8" height="100" style="height:45.0pt;width:678pt;text-align:center;background:url(../../images/imgs/logo02.png) no-repeat" align="left" valign="top">
                                <h1 style="text-align:center;font-weight:bold;font-size:20px;margin-top:15px;">
                                    产品详情
                                </h1>
                            </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td colspan="8" height="48" class="xl84" width="1600" style="height:48px;text-align:center;background-color:lightgrey;width:904pt">
                                基本参数<br>
                                Basic Parameter
                            </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td rowspan="2" height="48" class="xl84" width="302" style="height:48px;width:226pt;">
                                产品名称<br>
                                Product Name
                            </td>
                            <td class="xl74" rowspan="2" style="border-top:none;border-left:none">{{currProduct.fullEName}}</td>
                            <td class="xl66" width="167" style="border-top:none;border-left:none;width:125pt">
                                产品类型<br>
                                Category
                            </td>
                            <td class="xl74" style="border-top:none;border-left:none">{{currProduct.funcCategory.cName}}</td>
                            <td class="xl67" style="border-top:none;border-left:none">UPC</td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.upc}} </td>
                            <td class="xl66" width="167" style="border-top:none;border-left:none;width:125pt">
                                型号<br>
                                Model
                            </td>
                            <td class="xl76" width="135" style="border-top:none;border-left:none;width:101pt">{{currProduct.factoryModel}}</td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td class="xl67" style="border-top:none;border-left:none">
                                认证<br>
                                Certification
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.certification}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">SKU</td>
                            <td class="xl68" style="border-top:none;border-left:none">{{currProduct.sku}}</td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                批次号<br>
                                Series No.
                            </td>
                            <td class="xl68" style="border-top:none;border-left:none">{{currProduct.seriesNo}}</td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td colspan="2" height="96" class="xl84" width="302" style="height:48px;width:226pt;">
                                成本价格信息<br>
                                Cost Price Information
                            </td>
                            <td colspan="2" height="96" class="xl84" width="302" style="height:48px;width:226pt;">
                                包装信息<br>
                                Package Information
                            </td>
                            <td colspan="2" height="96" class="xl84" width="302" style="height:48px;width:226pt;">
                                产品卖点<br>
                                Bullet Point
                            </td>
                            <td colspan="2" height="96" class="xl84" width="302" style="height:48px;width:226pt;">
                                产品图片<br>
                                Picture
                            </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">FOB</td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.fobString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                产品尺寸(长*宽*高)<br>
                                Product Dimension(L*W*H)
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.productSize}} </td>

                            <td class="xl69" colspan="2" rowspan="7" style="border-top:none;border-left:none">
                                <p v-html="currProduct.bulletPoint" style="text-align:left;"></p>
                            </td>
                            <td class="xl69" colspan="2" rowspan="7" style="border-top:none;border-left:none">
                                <img width="290px" :src="currProduct.primaryImageSrcFull" class="avatar">
                            </td>
                        </tr>

                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">DDP</td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.ddpString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                包装尺寸(长*宽*高)<br>
                                Package Dimension(L*W*H)
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.packingSize}} </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">ELC</td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.elcString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                包装配置<br>
                                Package Configuration
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.packingConfig}} </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                Z3 运费<br>
                                Z3 Freight
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.z3FreightString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                毛重LB<br>
                                Gross Weight
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.grossWeight}} </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                Z5 运费<br>
                                Z5 Freight
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.z5FreightString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                净重LB<br>
                                Net Weight
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.netWeight}} </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">MSRP</td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.msrpString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                1托数量<br>
                                qty/pallet
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.qtyPallet}} </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td height="48" class="xl67" style="height:48px;border-top:none">MAP</td>
                            <td class="xl69" style="border-top:none;border-left:none">${{currSkuCost.mapString}} </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                40HQ装柜数<br>
                                qty/40HQ
                            </td>
                            <td class="xl69" style="border-top:none;border-left:none">{{currProduct.loadingQty_40HQ}} </td>
                        </tr>
                        <tr height="48" style="height:48px" v-if="partRows.length > 0">
                            <td colspan="8" height="48" class="xl84" width="1600" style="height:48px;text-align:center;background-color:lightgrey;width:904pt">
                                部件配置详情<br>
                                Components Configuration/Details
                            </td>
                        </tr>
                        <tr height="48" style="height:48px" v-if="partRows.length > 0">
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                组件名称<br>
                                Unit
                            </td>
                            <td height="48" class="xl67" style="height:48px;border-top:none">
                                部件名称<br>
                                Component
                            </td>
                            <td height="48" colspan="2" class="xl67" style="height:48px;border-top:none">
                                材质<br>
                                Material
                            </td>
                            <td height="48" colspan="2" class="xl67" style="height:48px;border-top:none">
                                表面处理<br>
                                Surface Treatment
                            </td>
                            <td height="48" colspan="2" class="xl67" style="height:48px;border-top:none">
                                备注<br>
                                Remarks
                            </td>
                        </tr>
                        <tr v-for="(item,index) in partRows">

                            <td :rowspan="item.prowspan" v-if="item.hasrow" height="48" class="xl97" style="height:48px;width:452pt;border-top:none;border-right:none">
                                {{item.pcname}}<br />
                                {{item.pename}}
                            </td>
                            <td class="xl76" width="167" style="width:125pt;">
                                {{item.cname}}<br />
                                {{item.ename}}
                            </td>
                            <td class="xl72" colspan="2" width="135" style="width:101pt;border-left:none;">{{item.material}}</td>
                            <td class="xl72" colspan="2" width="135" style="width:101pt;border-left:none;">{{item.surface}}</td>
                            <td class="xl72" colspan="2" width="135" style="width:101pt;border-left:none;">{{item.remarks}}</td>
                        </tr>
                        <tr height="48" style="height:48px" v-if="leftTable.length > 0">
                            <td colspan="8" height="48" class="xl84" width="1600" style="height:48px;text-align:center;background-color:lightgrey;width:904pt">
                                配件配置详情<br>
                                Parts Configuration/Details
                            </td>
                        </tr>
                        <tr height="48" style="height:48px" v-if="leftTable.length > 0">
                            <td colspan="4" valign="top">
                                <table>
                                    <tr>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            组件名称<br>
                                            Unit
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            配件名称<br>
                                            Part
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            描述<br>
                                            Description
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;border-right:none;">
                                            备注<br>
                                            Remarks
                                        </td>
                                    </tr>
                                    <tr v-for="(item,index) in leftTable">
                                        <td :rowspan="item.p1rowspan" v-if="item.hasrowspan1" height="48" class="xl67" style="width:167px;border-right:none;border-left:none;">
                                            {{item.pcname1}}<br />
                                            {{item.pename1}}
                                        </td>
                                        <td :rowspan="item.p2rowspan" v-if="item.hasrowspan2" height="48" class="xl67" style="width:167px;border-right:none">
                                            {{item.pcname2}}<br>
                                            {{item.pename2}}
                                        </td>
                                        <td height="48" class="xl97" style="height:96px;width:167px;">
                                            {{item.cname}}<br>
                                            {{item.ename}}
                                        </td>
                                        <td height="48" class="xl97" style="width:167px;">
                                            {{item.remarks}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td colspan="4" valign="top">
                                <table>
                                    <tr v-if="rightTable.length > 0">
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            组件名称<br>
                                            Unit
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            配件名称<br>
                                            Part
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;">
                                            描述<br>
                                            Description
                                        </td>
                                        <td height="48" class="xl67" style="height:48px;width:167px;border-top:none;border-left:none;border-bottom:none;border-right:none;">
                                            备注<br>
                                            Remarks
                                        </td>
                                    </tr>
                                    <tr v-for="(item,index) in rightTable">
                                        <td :rowspan="item.p1rowspan" v-if="item.hasrowspan1" height="48" class="xl67" style="width:167px;border-right:none;border-left:none;">
                                            {{item.pcname1}}<br />
                                            {{item.pename1}}
                                        </td>
                                        <td :rowspan="item.p2rowspan" v-if="item.hasrowspan2" height="48" class="xl67" style="width:167px;border-right:none">
                                            {{item.pcname2}}<br>
                                            {{item.pename2}}
                                        </td>
                                        <td height="48" class="xl67" style="height:96px;width:167px;">
                                            {{item.cname}}<br>
                                            {{item.ename}}
                                        </td>
                                        <td height="48" class="xl67" style="width:167px;">
                                            {{item.remarks}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                @*<div>
                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:904pt;border:1px;text-align:center;margin:0 auto">

                        <tr height="48" style="height:48px">
                            <td colspan="8" height="48" class="xl84" width="1600" style="height:48px;text-align:center;background-color:lightgrey;width:904pt">
                                附件<br>
                                Attachment
                            </td>
                        </tr>
                        <tr height="48" style="height:48px">
                            <td colspan="8" height="48" class="xl84" width="1600" style="height:48px;text-align:center;background-color:lightgrey;width:904pt">
                                <el-button style="margin-left:20px;" type="primary" v-on:click="openAttachment('/'+ currProduct.factoryModel)">查看附件</el-button>
                            </td>
                        </tr>*@
                @*<tr height="48" style="height:48px">
                        <td colspan="1" height="48">
                            说明书<br>
                            Manual
                        </td>
                        <td colspan="7" height="48" style="text-align:left;">
                            <el-button style="margin-left:20px;" type="primary" v-on:click="openAttachment('/'+ currProduct.factoryModel)">附件管理</el-button>
                        </td>
                    </tr>
                    <tr height="48" style="height:48px">
                        <td colspan="1" height="48">
                            规格书<br>
                            Specification
                        </td>
                        <td colspan="7" height="48"></td>
                    </tr>
                    <tr height="48" style="height:48px">
                        <td colspan="1" height="48">
                            英文描述<br>
                            Description
                        </td>
                        <td colspan="7" height="48"></td>
                    </tr>
                    <tr height="48" style="height:48px">
                        <td colspan="1" height="48">
                            展示图<br>
                            Picture
                        </td>
                        <td colspan="7" height="48"></td>
                    </tr>
                    <tr height="48" style="height:48px">
                        <td colspan="1" height="48">
                            展示视频<br>
                            Video
                        </td>
                        <td colspan="7" height="48"></td>
                    </tr>*@

                @*</table>
                    </div>*@
            </article>
        </template>
    </div>
    <script src="/Scripts/canvg.js"></script>
    <script src="/Scripts/html2canvas.js"></script>
    <script src="/Scripts/jspdf.debug.js"></script>
    <script>
        var Main = {
            data() {
                return {
                   loading:false,
                    currProduct: {
                        packageList: [

                        ],
                        partsList: [

                        ],
                        partChildren: [],
                        fittingChildren: [],
                        status: 0,
                        cName: void 0,
                        fullCName: void 0,
                        eName: void 0,
                        fullEName: void 0,
                        factoryModel: void 0,
                        remark: void 0,
                        categoryId: 0,
                        funcCategory: {
                            code: 0,
                            eName: void 0,
                            cName: void 0,
                            parentId: 0,
                            src: void 0,
                            srcFull: void 0,
                            showOrder: 0,
                            isShow: true,
                            byteStr: void 0,
                            id: 0,
                        },
                        categoryIdPath: void 0,
                        categoryIds: [
                            0
                        ],
                        primaryImageSrc: void 0,
                        imageMain: void 0,
                        sku: void 0,
                        upc: void 0,
                        productSize: void 0,
                        packingSize: void 0,
                        productSizeLength: 0,
                        productSizeWidth: 0,
                        productSizeHeight: 0,
                        packingSizeLength: 0,
                        packingSizeWidth: 0,
                        packingSizeHeight: 0,
                        cookingGrateSize: void 0,
                        cookingGrateArea: void 0,
                        warmingRackSize: void 0,
                        warmingRackArea: void 0,
                        offsetSmokerSize: void 0,
                        offsetSmokerArea: void 0,
                        griddleSize: void 0,
                        griddleArea: void 0,
                        totalCookingArea: void 0,
                        uperDesktopLoad: void 0,
                        lowerDesktopLoad: void 0,
                        uperDesktopSize: void 0,
                        lowerDesktopSize: void 0,
                        uperDestopArea: void 0,
                        lowerDestopArea: void 0,
                        netWeight: void 0,
                        grossWeight: void 0,
                        certification: void 0,
                        qtyPallet: 0,
                        loadingQty_40HQ: void 0,
                        mainBurnetQty: 0,
                        mainBurnerPower: void 0,
                        sideBurnerPower: void 0,
                        rearBurnerPower: void 0,
                        searBurnerPower: void 0,
                        power: void 0,
                        grillCover: void 0,
                        grillHandbag: void 0,
                        temperatureRange: void 0,
                        hopperVolume: void 0,
                        bulletPoint: void 0,
                        id: 0,
                        configCount: 0
                    },
                    currSkuCost: { },
                    leftTable: [],
                    rightTable: [],
                    childCount:[],
                    customData: [],
                    partRows: [],
                    fittingRows: [],

                }
            },
            created() {
                this.getSku();
                this.getSkuCostDetail();
            },
            methods: {
                svg2canvas(targetElem) {
                    var svgElem = targetElem.find('svg');
                    svgElem.each(function (index, node) {
                        var parentNode = node.parentNode;
                        //由于现在的IE不支持直接对svg标签node取内容，所以需要在当前标签外面套一层div，通过外层div的innerHTML属性来获取
                        var tempNode = document.createElement('div');
                        tempNode.setAttribute('background-color', '#fff').appendChild(node);
                        var svg = tempNode.innerHTML;
                        var canvas = document.createElement('canvas');
                        //转换
                        canvg(canvas, svg);
                        parentNode.appendChild(canvas);
                    });
                },
                printPdfOrExcel() {
                    var targetDom = $("#printout");

                    var copyDom = targetDom.clone();
                    //新的div宽高跟原来一样，高度设置成自适应，这样才能完整显示节点中的所有内容（比如说表格滚动条中的内容）

                    $('body').append(copyDom);//ps:这里一定要先把copyDom append到body下，然后再进行后续的glyphicons2canvas处理，不然会导致图标为空
                    copyDom.css('background-color', 'white');
                    copyDom.css('padding', '50px');
                    //copyDom.find('td').css('border','1px solid black');
                    copyDom.width("1204px");
                    copyDom.height($('#printout').height() + "px");
                    //setTimeout(function () {
                    this.svg2canvas(copyDom);
                    html2canvas(copyDom, {
                        onrendered: function (canvas) {
                            var imgData = canvas.toDataURL('image/jpeg');
                            var img = new Image();
                            img.src = imgData;
                            //根据图片的尺寸设置pdf的规格，要在图片加载成功时执行，之所以要*0.225是因为比例问题
                            img.onload = function () {
                                //此处需要注意，pdf横置和竖置两个属性，需要根据宽高的比例来调整，不然会出现显示不完全的问题
                                if (this.width > this.height) {
                                    var doc = new jsPDF('l', 'mm', [this.width * 0.225, this.height * 0.225]);
                                } else {
                                    var doc = new jsPDF('p', 'mm', [this.width * 0.225, this.height * 0.225]);
                                }
                                doc.addImage(imgData, 'jpeg', 0, 0, this.width * 0.225, this.height * 0.225);
                                //根据下载保存成不同的文件名
                                doc.save('pdf_' + new Date().getTime() + '.pdf');
                            };
                            //删除复制出来的div
                            copyDom.remove();
                        },
                        background: "#fff",
                        //pagesplit: true, //设置是否自动分页
                        //这里给生成的图片默认背景，不然的话，如果你的html根节点没设置背景的话，会用黑色填充。
                        allowTaint: true //避免一些不识别的图片干扰，默认为false，遇到不识别的图片干扰则会停止处理html2canvas
                    });
                },
                getSku() {
                    var skuId = @ViewBag.skuId;
                    var _self = this;
                    $.ajax({
                        type: 'GET',
                        url: '../../rest/sku/detail/parts',
                        data: { id: skuId },
                        success: function (data) {
                            if (data.success == true) {
                                _self.currProduct = data.data;
                                _self.partRows = [];
                                _self.leftTable = [];
                                _self.rightTable = [];
                                for (var key in _self.currProduct.partChildren) {
                                    for (var innerkey in _self.currProduct.partChildren[key].children) {
                                        var row = {
                                            pename: _self.currProduct.partChildren[key].eName,
                                            pcname: _self.currProduct.partChildren[key].cName,
                                            prowspan: _self.currProduct.partChildren[key].children.length,
                                            ename: _self.currProduct.partChildren[key].children[innerkey].eName,
                                            cname: _self.currProduct.partChildren[key].children[innerkey].cName,
                                            material: _self.currProduct.partChildren[key].children[innerkey].material,
                                            surface: _self.currProduct.partChildren[key].children[innerkey].surface,
                                            remarks: _self.currProduct.partChildren[key].children[innerkey].remarks,
                                            hasrow: innerkey == 0 ? true : false,
                                        };
                                        _self.partRows.push(row);
                                    }
                                }

                                for (var key in _self.currProduct.fittingChildrenLeft)
                                {
                                    var span1 = true;
                                    var span2 = true;
                                    var rs = 0;
                                    for (var key1 in _self.currProduct.fittingChildrenLeft[key].children) {
                                        if (_self.currProduct.fittingChildrenLeft[key].children[key1].detailList.length == 0) {
                                            rs++;
                                        }
                                        else {
                                            rs += _self.currProduct.fittingChildrenLeft[key].children[key1].detailList.length;
                                        }
                                    }
                                    for (var key1 in _self.currProduct.fittingChildrenLeft[key].children)
                                    {
                                        if (_self.currProduct.fittingChildrenLeft[key].children[key1].detailList.length == 0) {
                                            var row = {
                                                pename1: _self.currProduct.fittingChildrenLeft[key].eName,
                                                pcname1: _self.currProduct.fittingChildrenLeft[key].cName,
                                                pename2: _self.currProduct.fittingChildrenLeft[key].children[key1].eName,
                                                pcname2: _self.currProduct.fittingChildrenLeft[key].children[key1].cName,
                                                p1rowspan: rs,
                                                p2rowspan: 1,
                                                ename: '',
                                                cname: '',
                                                remarks: _self.currProduct.fittingChildrenLeft[key].children[key1].remarks,
                                                hasrowspan1: span1,
                                                hasrowspan2:  true ,
                                            };
                                            _self.leftTable.push(row);
                                            span1 = false;
                                        }
                                        else {
                                            for (var key2 in _self.currProduct.fittingChildrenLeft[key].children[key1].detailList)
                                            {
                                                var row = {
                                                    pename1: _self.currProduct.fittingChildrenLeft[key].eName,
                                                    pcname1: _self.currProduct.fittingChildrenLeft[key].cName,
                                                    pename2: _self.currProduct.fittingChildrenLeft[key].children[key1].eName,
                                                    pcname2: _self.currProduct.fittingChildrenLeft[key].children[key1].cName,
                                                    ename: _self.currProduct.fittingChildrenLeft[key].children[key1].detailList[key2].eName,
                                                    cname: _self.currProduct.fittingChildrenLeft[key].children[key1].detailList[key2].cName,
                                                    p1rowspan: rs,
                                                    p2rowspan: _self.currProduct.fittingChildrenLeft[key].children[key1].detailList.length,
                                                    remarks: _self.currProduct.fittingChildrenLeft[key].children[key1].detailList[key2].remarks,
                                                    hasrowspan1: span1,
                                                    hasrowspan2: key2 == 0 ? true : false,
                                                };
                                                _self.leftTable.push(row);
                                                  span1 = false;
                                            }

                                        }

                                    }

                                }
                                console.log( _self.leftTable)

                                for (var key in _self.currProduct.fittingChildrenRight)
                                {
                                    var span1 = true;
                                    var span2 = true;
                                    var rs = 0;
                                    for (var key1 in _self.currProduct.fittingChildrenRight[key].children) {
                                        if (_self.currProduct.fittingChildrenRight[key].children[key1].detailList.length == 0) {
                                            rs++;
                                        }
                                        else {
                                            rs += _self.currProduct.fittingChildrenRight[key].children[key1].detailList.length;
                                        }
                                    }
                                    for (var key1 in _self.currProduct.fittingChildrenRight[key].children)
                                    {
                                        if (_self.currProduct.fittingChildrenRight[key].children[key1].detailList.length == 0) {
                                            var row = {
                                                pename1: _self.currProduct.fittingChildrenRight[key].eName,
                                                pcname1: _self.currProduct.fittingChildrenRight[key].cName,
                                                pename2: _self.currProduct.fittingChildrenRight[key].children[key1].eName,
                                                pcname2: _self.currProduct.fittingChildrenRight[key].children[key1].cName,
                                                p1rowspan: rs,
                                                p2rowspan: 1,
                                                ename: '',
                                                cname: '',
                                                remarks: _self.currProduct.fittingChildrenRight[key].children[key1].remarks,
                                                hasrowspan1: span1,
                                                hasrowspan2:  true ,
                                            };
                                            _self.rightTable.push(row);
                                            span1 = false;
                                        }
                                        else {
                                            for (var key2 in _self.currProduct.fittingChildrenRight[key].children[key1].detailList)
                                            {
                                                var row = {
                                                    pename1: _self.currProduct.fittingChildrenRight[key].eName,
                                                    pcname1: _self.currProduct.fittingChildrenRight[key].cName,
                                                    pename2: _self.currProduct.fittingChildrenRight[key].children[key1].eName,
                                                    pcname2: _self.currProduct.fittingChildrenRight[key].children[key1].cName,
                                                    ename: _self.currProduct.fittingChildrenRight[key].children[key1].detailList[key2].eName,
                                                    cname: _self.currProduct.fittingChildrenRight[key].children[key1].detailList[key2].cName,
                                                    p1rowspan: rs,
                                                    p2rowspan: _self.currProduct.fittingChildrenRight[key].children[key1].detailList.length,
                                                    remarks: _self.currProduct.fittingChildrenRight[key].children[key1].detailList[key2].remarks,
                                                    hasrowspan1: span1,
                                                    hasrowspan2: key2 == 0 ? true : false,
                                                };
                                                _self.rightTable.push(row);
                                                  span1 = false;
                                            }

                                        }

                                    }

                                }
                                console.log( _self.rightTable)

                            } else {
                                _self.$notify.error({
                                    title: '错误',
                                    message: data.msg
                                });
                            }

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (errorThrown == "Unauthorized") {
                                window.parent.MainIndex.openLoginFrom();
                                _self.$message({
                                    type: 'error',
                                    message: XMLHttpRequest.responseJSON.msg
                                });
                            } else {
                                _self.$message({
                                    type: 'error',
                                    message: errorThrown
                                });
                            }
                        }
                    });
                },
                getSkuCostDetail() {
                    var _self = this;
                    var skuCostId = @ViewBag.skuCostId;
                    if (skuCostId <= 0) {
                        return;
                    }
                    $.ajax({
                        type: 'GET',
                        url: '../../rest/sku/cost/detail',
                        data: { skuCostId: skuCostId },
                        success: function (data) {
                            if (data.success == true) {
                                _self.currSkuCost = data.data
                                //_self.currSkuCost.skuFactoryModel = data.data.sku.factoryModel;
                                //_self.batchList = data.data.skuCostBatchList;
                                //console.log(_self.batchList)
                            } else {
                                _self.$notify.error({
                                    title: '错误',
                                    message: data.msg
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (errorThrown == "Unauthorized") {
                                window.parent.MainIndex.openLoginFrom();
                                _self.$message({
                                    type: 'error',
                                    message: XMLHttpRequest.responseJSON.msg
                                });
                            } else {
                                _self.$message({
                                    type: 'error',
                                    message: errorThrown
                                });
                            }
                        }
                    });
                },
                 openAttachment(path) {
                    window.parent.MainIndex.addTabByIframe("附件管理", "/sku/Attachment?path=" + path, "附件管理");
                },

            },
            components: {

            },
            mounted() {

            }
        }
        var Ctor = Vue.extend(Main);
        new Ctor().$mount('#wrapper');
    </script>
</body>